[user]
	name = Linus Blom
	email = linus.blom@me.com
[alias]
	ga = number add
	n = number
	s = number --column
	co = checkout
	cob = checkout -b
	cod = checkout develop
	glog = log --oneline --decorate
	yolo = push -f
	caan = commit -a --amend --no-edit
	caa = commit -a --amend
	ca = commit --amend
	can = commit --amend --noedit
	g- = checkout -
[sequence]
	editor = rebase-editor
